*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .container1{
    position: relative; 
    margin-bottom:30px;
    margin-top: 100px;
} 
.main{
    margin-top:70px; 
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}
.main1{
    display: flex;
    justify-content: space-around;
    position: relative; 
    z-index: 1;
    
}
.picz{
    height: 150px;
    width: 80px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:20px;
}

.a1{
    background-image: url("our.jpeg");  
}
.a2{
    background-image: url("boy.jpg");
    
}
.a3{
    background-image: url("green\ thumb2.jpeg");
    
    
}
.a4{
    background-image: url("new\ look3.jpeg");
    
    
}
.a5{
    background-image: url("girl.jpg");
    
}
.txt {
    text-align: center;
    position: absolute;  
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px; 
    font-size: 64px;
    font-weight: bold;
    
  }
  
.change{
    color:#E60023;
}

.pintab{
    font-size:20px;
    font-weight:600;
    margin-bottom: 10px;


}
.boldtxt{
    font-size: 36px;
    font-weight:bolder;
}

.sebut{
    margin-top: 10px;
    font-size: 16px;

}
.sebut a{
    text-decoration: none;
    color:white;
   
}
.sebut a:hover{
    text-decoration: none;
    color:white;
   
}
.sbut1{
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border: none;
    font-weight: bold;
    border-radius: 40px;
    text-align: center;
    background-color:black;
    
}
.card{
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left:40px;
    height:200px;
    width:280px;
     text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
   
}


.colori:hover{
    .card{
        background-color: #f2f2f2;
        border-radius: 20px;

    }
}
.intxt{
    font-size: 22px;
    font-weight:600;

}
.outtxt{
    font-size: 26px;
    font-weight: bold;
}

.nstxt1{
    width: 350px;
    margin-left: 40px;
    font-size: 24px;
    font-weight:500;
    margin-bottom: 20px;
}
.nstxt1 a{
    text-decoration: none;
    color: black;
}
.nstxt1 a:hover{
    color: black;
    text-decoration: underline;
}
.newsp{
    margin-left: 40px;
    height: 190px;
    width: 340px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-size:cover ;
    background-repeat: no-repeat;
}
.ns1{
    background-image: url("abou1.webp");

}
.ns2{
    background-image: url("abou2.webp");

}
.ns3{
    background-image: url("abu3.webp");

}

.sbut a{
    text-decoration: none;
    color:black;
   
}
.sbut a:hover{
    text-decoration: none;
    color:black;
   
}
.sbut2{
    
    width: 120px;
    height: 50px;
    border: none;
    font-weight: bold;
    border-radius: 40px;
    text-align: center;
    background-color:#f2f2f2;
    margin-bottom: 20px;
    margin-left: 230px;
    
}
.ln{
    margin-top:10px;
    padding-left:40px;
    
}
.mbtxt{
    margin-top:250px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
} 

p{
    color: #1dad65;
}
.mbtxt2{
    text-align: center;
    font-size: 18px;
    font-weight:600;
} 
.mbut{
    text-align: center;
}
.mbut a{
    text-decoration: none;
    color:white;
   
}
.mbut a:hover{
    text-decoration: none;
    color:white;
   
}
.mbut2{
    margin-top: 20px;
     width: 150px;
    height: 50px;
    border: none;
    font-weight: bold;
    border-radius: 40px;
    background-color:black;
    margin-bottom:30px;
  
}

.mbpic{
    text-align: center; 
    display: inline-block; /* Allows center alignment with text-align: center */
    margin-top: 130px;
    width: 100%;
    max-width: 450px;
    height: 600px;
    border-radius: 15px;
    background-image: url("mbpic.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto; 
    margin-right: auto; 
}
.temtxt{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight:600;
}
.tetxt{
    text-align: center;
    font-size: 38px;
    font-weight:bold;
}
.tbut{
    text-align: center;
}
 
.tbut a{
    text-decoration: none;
    color:black;
   
}
.tbut a:hover{
    text-decoration: none;
    color:black;
   
}
.tbut2{

    margin-top: 20px;
     width: 150px;
    height: 60px;
    border:2px solid black;
    font-weight: bold;
    border-radius: 40px;
    background-color:white;
    margin-bottom:100px;
  
}
.lasttxt{
    margin-top:50px;
    font-size:28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.lastint{
    width: 400px;
    font-size:18px;
    font-weight: 600;
}
.lastint1{
    width:500px;
    font-size:18px;
    font-weight: 600;
}

 
.lbut a{
    text-decoration: none;
    color:white;
   
}
.lbut a:hover{
    text-decoration: none;
    color:white;
   
}
.lbut2{

    margin-top: 20px;
     width:190px;
    height: 70px;
    font-weight: bold;
    border-radius: 40px;
    background-color:black;
    margin-bottom:100px;
  
}
.fotn{
    display: flex;
    justify-content: space-between;
}
.ftn{
    font-size:18px;
    font-weight: 600;
}
#plusclick {
    cursor: pointer;
    font-size:32px;
    font-weight: 600; /* Adjusted font size for better visibility */
}

#dispf{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    display: none;
}
.count{
    height:25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid black;
}
.ftt{
    width:250px;
    font-weight:500;
}