body {
    margin: 0;
    overflow-x:hidden ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .navbari {
    /* margin-top:10px;  */
    background-color: white;
    padding: 0px;
    font-size: 26px;
}

.navbar-container4{
    margin-top:10px; 
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar-lefti {
    margin-left: 120px;
    font-weight: 700;
}

.navbar-lefti img {
    margin-right: 5px;
     vertical-align: middle;

   
}
    .navbar-lefti a {

        color: black;
        text-decoration: none;
        font-size: 20px;
    }

    .navbar-lefti a:hover {

        color: black;
        text-decoration: none;
        font-size: 20px;
    }

    .navbar-righti {
        font-weight: 600;
        margin-right:120px;
    }

    .navbar-righti a {

        color: black;
        text-decoration: none;
        padding: 10px;
        font-size: 16px;
    }

    .navbar-righti a:hover {
        color: black;
        text-decoration:underline;
        border-radius: 5px;
    }

    @media (max-width: 768px) {
        .navbar-container4{
            flex-direction: column;
        }

        .navbar-righti {
            display: flex;
            flex-direction: column;
        }

        .navbar-righti a {
            text-align: center;
            padding: 10px;
            width: 100%;
        }
    } 



    
     