.body{
    font-size: 16px;
    font-weight: bolder;
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.photo{
    height: 400px;
    width: 280px;
    text-align: center;
    margin-top: 20px;
    /* font-weight: bold; */
    
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.photo1{
    height:350px;
    width: 280px;
    text-align: center;
    margin-top:40px;
    /* font-weight: bold; */

    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.ph1{
    background-image:url("new\ look\ 4.avif");
   
}


.ph2{
    background-image:url("travelgirl.jpeg");
   
}
.ph3{
    background-image:url("images.jpeg");
   
}
.ph4{
    background-image:url("green\ thumb2.jpeg");
   
}
.ph5{
    background-image:url("cup.jpeg");
   
}
.ph6{
    background-image:url("poerty.jpg");
   
}
.ph7{
    background-image:url("chicken3.jpeg");
   
}

.ph8{
    background-image:url("garden.jpg");
   
}

.ph9{
    background-image:url("DIY.jpeg");
   
}

.ph10{
    background-image:url("our.jpeg");
   
}

.ph11{
    background-image:url("dinw.jpg");
   
}

.ph12{
    background-image:url("wed\ dress.jpg");
   
}

.ph13{
    background-image:url("home\ decore4.jpeg");
   
}

.ph14{
    background-image:url("li.png");
   
}

.ph15{
    background-image:url("new\ look\ 2.jpeg");
   
}

.ph16{
    background-image:url("home\ decore2.jpeg");
   
}
.ph17{
    background-image:url("chicken1.jpeg");
   
}
.ph18{
    background-image:url("winter\ clothes.jpeg");
   
}.ph19{
    background-image:url("beauty\ tops.jpeg");
   
}
.ph20{
    background-image:url("nails.jpeg");
   
}
.ph21{
    background-image:url("design.jpg");
   
}
.ph22{
    background-image:url("girl.jpg");
   
}
.ph23{
    background-image:url("craft.jpg");
   
}
.ph24{
    background-image:url("fashion.jpg");
   
}






