*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.presstxt{
    margin-top: 160px;
    font-size: 28px;
    font-weight:500;
    margin-bottom: 150px;
}
.presspic{
    margin-top: 150px;
    height: 320px;
    width:900px;
    border-radius:10px;
    background-image: url("abou1.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.pressltxt{
    margin-left: 10px;
}
.pressltxt a{
    text-decoration: none;
    color: black;
}
.pressltxt a:hover{
    text-decoration: none;
    color: black;
}
.outcenter{
    margin-top: 300px;
    text-align: center;
}
.presscen{
    font-size:48px;
    font-weight: bold;
}
.card{
    margin-top:100px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left:40px;
    height:200px;
    width:280px;
     text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
   
}
@media  (max-width:1000px) {
   
    .card{
        padding-top: 70px;
        height: 300px;
        width: 100%;
        margin-left: 0px; /* Adjust width to 100% for smaller screens */
        margin-top: 10px;
    }
}
.didi{
    margin-left:50px;
    font-weight: 500;

}
.didi a{
    text-decoration: none;
    color: black;
}
.outtxt i{
    margin-top:30px; 
    overflow-y: hidden;
    font-size: 38px;

}
.outcenter1{
    margin-top: 60px;
    text-align: center;
}
.newspic{
    /* margin-bottom: 30px; */
    width: 320px;
    height: 200px;
    border: 1px solid black;
    margin-left:40px;
}
.np1{
    background-image: url("newsroom-site_luxuryreport_pingrid-1080x567.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.np2{
    background-image: url("abou1.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.np3{
    background-image: url("abou2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.np4{
    background-image: url("pagali.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.np5{
    background-image: url("mob.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.np6{
    background-image: url("page4\ pic.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.newstxt{
    width: 350px;
    font-size:22px;
    font-weight: 500;
    margin-left: 40px;
    margin-bottom: 50px;
}

/* Media query for small screens (max-width 600px) */
@media  (max-width:1000px) {
    .newspic {
        width: 100%; 
        height:300px ; 
        margin-left: 0px;
    }

    .newstxt {
        margin-left: 0px;
        width: 100%; 
        font-size: 18px; 
    }
}
.annytxt{
    margin-top:150px;
    font-size:38px;
    font-weight: bold;
}
.annytxt1{
    margin-top: 10px;
    font-size:20px;
    font-weight:400;
}
.sebut{
    margin-top: 10px;
    font-size: 16px;

}
.sebut a{
    text-decoration: none;
    color:black;
   
}
.sebut a:hover{
    text-decoration: none;
    color:black;
   
}
.sbut1{
    margin-top: 20px;
    width: 160px;
    height: 70px;
    border:2px solid black;
    font-weight: bold;
    border-radius: 40px;
    text-align: center;
    background-color:white;
    
}
.annypic{
    margin-top: 75px;
    height: 400px;
    width: 350px;
    margin-left:40px;
    /* border: 1px solid black; */
    background-image: url("anny.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.annypic1{
    margin-top: 75px;
    height: 400px;
    width: 450px;
    margin-left:40px;
    /* border: 1px solid black; */
    background-image: url("ceo.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
@media  (max-width:1000px) {
    .annypic{
        width: 100%;
        margin-left: 0px;
        height:700px;
    }
}
@media  (max-width:1000px) {
    .annypic1{
        width: 100%;
        margin-left: 0px;

        height:500px; 
    }
}
