body {
    margin: 0;
    padding: 0;
  }
  .ts{
    margin-left: 10px;
    width: 300px;
    height: 350px;
    background-size: cover;

  }
  
  .slider-container {
    width: 100%;
    max-width: 2000px;  
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  
  .slider {
    display: flex;
    width: max-content;
    animation: slide 100s linear infinite;
  }
  
  .slide {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
  }
  }