* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    transform: translateY(-50%);


}

.slider-wrapper .slide-button:hover {
    background-color: rgb(225, 225, 220);

}

.slider-wrapper .slide-button#pre-slider {
    left: -1px;
}

.slider-wrapper .slide-button#next-slider {
    right: -1px;
}


.slider-wrapper {
    margin-top: 60px;
    position: relative;
}

.slider-wrapper .image-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    scrollbar-width: none;
    overflow-x: auto;
}

.slider-wrapper .image-list ::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 370px;
    height: 450px;
    object-fit: cover;

}

.image1 {
    background-image: url("li.png");
    background-size: cover;
}

.image2 {
    background-image: url("travel.jpg");
    background-size: cover;
}

.image3 {
    background-image: url("craft.jpg");
    background-size: cover;
}

.image4 {
    background-image: url("nails.jpeg");
    background-size: cover;
}

.image5 {
    background-image: url("wed\ dress.jpg");
    background-size: cover;
}

.image6 {
    background-image: url("dinw.jpg");
    background-size: cover;
}
.seebut{
        margin-top: 10px;
        font-size: 16px;
    
}
.txt{
    margin-top:250px;
    color: whitesmoke;
    font-size: 22px;
    margin-left:20px;
}
.seebut a{
    text-decoration: none;
    color: black;
   
}
.seebut a:hover{
    text-decoration: none;
    color: black;
   
}
.sbut1{
    width: 100px;
    height: 48px;
    border: none;
    font-weight: bold;
    border-radius: 40px;
    text-align: center;
    background-color:white;
    
}
.starting{
    margin-top:50px;
}
.txtb{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}